@page "/"

<PageTitle>Index</PageTitle>
<div class="container d-flex justify-content-center pt-5">
    <div class="row   w-50">
<div class="card">
    <div class="card-header bg-cyan">
        LabExam
    </div>
    <div class="card-body">
        <h5 class="card-title">210943</h5>
        <p class="card-text">Muhammad Awab</p>
        <a href="/login" class="btn btn-primary">Get Started</a>
    </div>
        </div>
    </div>
</div>


@code{
   
       

   
}
